:root {
  --main-color: #000000;
  --prompt-bg-color: #FFFEF6;
  --canvas-bg-color: #ffffff00;
}

@keyframes gradient-shift {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(-100deg); }
}

.intro {
  background: radial-gradient(circle, rgba(40, 182, 184, 0.5) 0%, rgba(252, 255, 89, 0.5) 70%, rgba(255, 186, 195, 0.5) 90%);
  height: 100dvh;
  overflow: hidden;

  font-family: 'Space Grotesk';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  animation: gradient-shift 6s infinite alternate ease-in-out;
}
.intro h2 {
  font-weight: normal;
  margin: 0;
}
.intro h1 {
  font-weight: 500;
  font-size: 4rem;
}
.intro .button {
  border: 1px solid black;
  padding: 10px 14px;
}
.intro  a {
  all: unset;
}
.intro a:hover {
  background-color: rgb(255, 255, 196);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk';
}

canvas {
  display: block;
}

#main {
  display: flex;
}

#mode-switch {
  z-index: 1;
  position: absolute;
  left: -62px;
  top: 0;
  width: fit-content;
}
#mode-switch div {
  width: 60px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-size: 2rem;
  margin-top: 20px;
  border: 3px solid rgba(0, 0, 0, 0.03);
  border-right: none;
  background-color: var(--prompt-bg-color);
}
.inactive-mode {
  background-color: rgb(241, 240, 225) !important;
}
.inactive-mode:hover {
  cursor: pointer;
  background-color: rgb(249, 249, 233) !important;
}

#creation-container {
  position: relative;
  flex-basis: 90%;
  max-width: 45%;
  display: flex;
  padding: 32px 36px;
  text-align: center;
  border-left: 3px solid rgba(0, 0, 0, 0.03);
  background-color: var(--prompt-bg-color);
}
.creation-container-scroll {
  width: 100%;
  max-height: 90dvh;
  overflow: hidden auto;

  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  gap: 20px;
}

#actions {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#actions > div {
  text-align: center;
  background-color: rgb(220, 254, 255);
  border: 3px solid rgba(0, 0, 0, 0.03);
  padding: 4px 10px;
}
#actions .icon {
  font-weight: bold;
  font-size: 1.4rem;
}
#actions .desc {
  font-size: 0.6rem;
}
#actions > div:hover {
  cursor: pointer;
  background-color: rgb(223, 241, 255);
}
.active-mode {
  background-color: rgb(177, 195, 210) !important;
  color: white;
}
#delete {
  background-color: rgb(241, 170, 170) !important;
  font-weight: bold;
}
#delete:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#color-swatches {
  padding: 14px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgb(215, 207, 207);
  border: 3px solid rgba(0, 0, 0, 0.03);
}
.color {
  border-radius: 100%;
  border: 3px solid rgba(0, 0, 0, 0.05);
  flex-basis: 16%;
  min-width: 48px;
  max-width: 90px;
  aspect-ratio: 1;
}
.color:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#texture-swatches {
  padding: 14px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgb(215, 207, 207);
  border: 3px solid rgba(0, 0, 0, 0.03);
}
#texture-swatches div {
  background-color: white;
  border-radius: 100%;
  border: 3px solid rgba(0, 0, 0, 0.05);
  flex-basis: 18%;
  max-width: 100px;
  aspect-ratio: 1;
}
#texture-swatches img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
#texture-swatches div:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#shape-inventory {
  padding: 14px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgb(215, 207, 207);
  border: 3px solid rgba(0, 0, 0, 0.03);
}
#shape-inventory > div {
  min-width: 80px !important;
  flex-basis: 22%;
  background-color: rgb(247, 255, 255);
}
#shape-count {
  text-shadow: 0 0 8px white;
  background-color: none;
  height: fit-content;
  flex-basis: 100%;
  padding-bottom: 6px;
  margin: 0;
}
#shape-inventory > div:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.4);
}
.inv-triangle div {
  height: 0;
  width: 0;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  border-bottom: 6vw solid var(--main-color);
}

.hidden {
  display: none !important;
}

#character-canvas {
  overflow: hidden;
  background-color: var(--canvas-bg-color);
}

#question-container {
  position: relative;
  flex-basis: 90%;
  max-width: 45%;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-left: 3px solid rgba(0, 0, 0, 0.03);
  background-color: var(--prompt-bg-color);
}
#prompt {
  font-size: 2rem;
  font-weight: 500;
}
#responses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  row-gap: 14px;
}
.next {
  font-size: 1.2rem;
  bottom: 50px;
  right: 50px;
  position: fixed;
  padding: 10px 14px;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgba(216, 255, 254, 0.5);
}
.next:hover {
  cursor: pointer;
  background-color: rgba(216, 255, 254, 0.95);
}


#color-pick {
  width: 40%;
  max-width: 200px;
  min-width: 140px;
  height: 100%;
  aspect-ratio: 1;
}


#shapes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
  row-gap: 14px;
}
.shape {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 120px;
  aspect-ratio: 1;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(233, 233, 233, 0.2);
}
.selected {
  border-color: black;
  background-color: rgba(255, 255, 255, 0.8);
}
.shape:hover {
  border-style: inset;
  cursor: pointer;
  background-color: rgba(254, 254, 254, 0.6);
}
.square div {
  width: 50%;
  aspect-ratio: 1;
  background-color: var(--main-color);
}
.circle div {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--main-color);
}
.oval div {
  border-radius: 100%;
  width: 70%;
  height: 40%;
  background-color: var(--main-color);
}
.rect div {
  width: 70%;
  aspect-ratio: 3/2;
  background-color: var(--main-color);
}
.triangle div {
  height: 0;
  width: 0;
  border-left: 5.5vh solid transparent;
  border-right: 5.5vh solid transparent;
  border-bottom: 11vh solid var(--main-color);
}
.star div {
  width: 0px;
  height: 0px;
  border-right: 5vw solid transparent;
  border-bottom: 3.5vw solid var(--main-color);
  border-left: 5vw solid transparent;
  transform: rotate(35deg);
}
.star div:before {
  border-bottom: 4vw solid var(--main-color);
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -2.25vw;
  left: -3.25vw;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star div:after {
  position: absolute;
  display: block;
  top: .15vw;
  left: -5.25vw;
  width: 0px;
  height: 0px;
  border-right: 5vw solid transparent;
  border-bottom: 3.5vw solid var(--main-color);
  border-left: 5vw solid transparent;
  transform: rotate(-70deg);
  content: '';
}
  



#reflection textarea {
  width: 36dvw;
  padding: 10px;
  font-size: 1.2rem;
  height: 40dvh;
  resize: none;
}

#state {
  border: none;
  border-bottom: 2px solid rgb(72, 72, 72);
  font-family: 'Space Grotesk';
  padding: 8px;
  font-size: 1.3rem;
}

#state-preview {
  position: relative;
  margin-top: 10px;
}
#state-preview svg {
  height: 40dvh;
  max-width: 30dvw;
}
#state-error {
  margin-top: 10px;
  font-style: italic;
  color: rgb(86, 86, 86);
}

#objects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.object {
  flex-basis: 30%;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.2);
}
.object img {
  max-width: 100%;
  object-fit: contain;
}
.object img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5rem rgba(255, 212, 23, 0.4));
}
.selected-obj {
  filter: drop-shadow(0 0 0.6rem rgba(62, 91, 255, 0.4));
}

#visits {
  width: 80%;
  border: none;
  border-bottom: 2px solid rgb(72, 72, 72);
  font-family: 'Space Grotesk';
  padding: 8px;
  font-size: 1.5rem;
}
#visits-error {
  margin-top: 10px;
  font-style: italic;
  color: rgb(86, 86, 86);
}

.completion-button {
  font-size: 1.4rem;
  padding: 14px 24px;
  margin: 0 auto;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgba(241, 255, 255, 0.5);
}
.completion-button:hover {
  cursor: pointer;
  background-color: rgba(246, 255, 255, 0.95);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#complete-confirm {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

#map-place {
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 95%;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
}
.bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.character {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#character-img {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 24dvw;
  height: 28dvh;
  object-fit: contain;
}

#place {
  display: flex;
  flex-direction: column;
}
#place-nav {
  position: relative;
  margin: 0 8%;
  flex-basis: 10%;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 24px;
}
#place-thumbnails {
  max-width: 100%;
  overflow: auto hidden;
  align-items: center;
  max-height: 100%;
  display: flex;
  gap: 10px;
}
#place-thumbnails div {
  position: relative;
  aspect-ratio: 1;
  min-height: 100px;
  max-height: 120px;
}
#place-thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}