:root {
  --main-color: #000000;
  --prompt-bg-color: #FFFEF6;
  --canvas-bg-color: #ffffff00;
}

@keyframes gradient-shift {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(40deg); }
}
/* 
.intro {
  color: white;
  z-index: 1;
  height: 100dvh;
  overflow: hidden;

  font-family: 'Space Grotesk';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  animation: gradient-shift 6s infinite alternate ease-in-out;
}
.intro h2 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}
.intro h1 {
  font-weight: 500;
  font-size: 4rem;
  margin-top: 20px;
}
.intro .button {
  border: 2px solid white;
  font-weight: bold;
  padding: 8px 16px;
}
.intro  a {
  all: unset;
}
.intro a:hover {
  background-color: rgb(0, 0, 0);
}
.intro-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */


.intro {
  z-index: 1;
  background: radial-gradient(ellipse, 
    rgb(88, 236, 214) 10%, 
    rgb(253, 255, 112, 0.8) 40%, 
    rgb(255, 172, 218, 0.6) 60%, 
    transparent, transparent
  );
  height: 100dvh;
  overflow: hidden;

  font-family: 'Space Grotesk';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  animation: gradient-shift 4s infinite alternate ease-in-out;
}
.intro h2 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}
.intro h1 {
  font-weight: 500;
  font-size: 4rem;
  margin-top: 20px;
}
.intro .button {
  border: 2px solid black;
  font-weight: bold;
  padding: 8px 16px;
}
.intro  a {
  all: unset;
}
.intro a:hover {
  background-color: rgb(255, 255, 196);
}
.intro-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk';
}

canvas {
  display: block;
}

#main {
  display: flex;
}

#mode-switch {
  z-index: 1;
  position: absolute;
  left: -12dvh;
  top: 0;
  width: fit-content;
}
#mode-switch > div {
  width: 12dvh;
  height: 10dvh;
  text-align: center;
  padding-top: 10px;
  font-size: 2rem;
  margin-top: 10px;
  border: 3px solid rgba(0, 0, 0, 0.03);
  border-right: none;
  background-color: var(--prompt-bg-color);
}
.inactive-mode {
  background-color: rgb(241, 240, 225) !important;
}
.inactive-mode:hover {
  cursor: pointer;
  background-color: rgb(249, 249, 233) !important;
}

.secondary-label {
  color: black;
  font-size: 0.8rem;
}

#character-canvas {
  position: relative;
}

#creation-container {
  position: relative;
  flex-basis: 90%;
  max-width: 45%;
  display: flex;
  padding: 32px 36px;
  text-align: center;
  border-left: 3px solid rgba(0, 0, 0, 0.03);
  background-color: var(--prompt-bg-color);
}
.creation-container-scroll {
  width: 100%;
  max-height: 90dvh;
  overflow: hidden auto;

  display: flex;
  flex-direction: column;
  justify-content: top;
  text-align: center;
  gap: 20px;
}

#actions {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#actions > div {
  text-align: center;
  background-color: rgb(220, 254, 255);
  border: 3px solid rgba(0, 0, 0, 0.03);
  padding: 4px 10px;
}
#actions .icon {
  font-weight: bold;
  font-size: 1.4rem;
}
#actions .desc {
  font-size: 0.6rem;
}
#actions > div:hover {
  cursor: pointer;
  background-color: rgb(223, 241, 255);
}
.active-mode {
  background-color: rgb(177, 195, 210) !important;
  color: white;
}

#delete {
  position: absolute;
  left: -10dvw;
  bottom: -10dvw;
  border-radius: 100%;
  width: 18dvw;
  height: 18vw;

  opacity: 0.7;
  background-color: rgb(255, 66, 66) !important;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}
#delete .icon {
  text-shadow: 0 0 2px black;
  font-size: 1.8rem;
  position: absolute;
  left: 65%;
  top: 20%;
}
.delete-active {
  text-shadow: 0 0 4px black;
  cursor: pointer;
  opacity: 1 !important;
  transform: scale(1.1);
}

#color-swatches {
  padding: 14px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgb(215, 207, 207);
  border: 3px solid rgba(0, 0, 0, 0.03);
}
.color {
  border-radius: 100%;
  border: 3px solid rgba(0, 0, 0, 0.05);
  flex-basis: 16%;
  min-width: 40px;
  max-width: 76px;
  aspect-ratio: 1;
}
.color:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#texture-swatches {
  padding: 14px 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  background-color: rgb(215, 207, 207);
  border: 3px solid rgba(0, 0, 0, 0.03);
}
#texture-swatches div {
  background-color: white;
  border: 3px solid rgba(0, 0, 0, 0.05);
  flex-basis: 14%;
  border-radius: 20%;
  min-width: 50px;
  max-width: 80px;
  aspect-ratio: 1;
}
#texture-swatches img {
  width: 100%;
  height: 100%;
  border-radius: 20%;
  object-fit: cover;
}
#texture-swatches div:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

#shape-inventory {
  padding: 14px 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgb(215, 207, 207);
  border: 3px solid rgba(0, 0, 0, 0.03);
}
#shape-inventory > div {
  min-width: 80px !important;
  flex-basis: 22%;
  background-color: rgb(247, 255, 255);
}
#shape-count {
  text-shadow: 0 0 8px white;
  background-color: none;
  height: fit-content;
  flex-basis: 100%;
  padding-bottom: 6px;
  margin: 0;
}
#shape-inventory > div:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.4);
}
.inv-triangle div {
  height: 0;
  width: 0;
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent;
  border-bottom: 6vw solid var(--main-color);
}

.hidden {
  display: none !important;
}

#character-canvas {
  overflow: hidden;
  background-color: var(--canvas-bg-color);
}

#question-container {
  position: relative;
  flex-basis: 90%;
  max-width: 45%;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-left: 3px solid rgba(0, 0, 0, 0.03);
  background-color: var(--prompt-bg-color);
}
#prompt {
  font-size: 2rem;
  font-weight: 500;
}
#responses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  row-gap: 14px;
}
.next {
  font-size: 1.2rem;
  bottom: 50px;
  right: 50px;
  position: fixed;
  padding: 10px 14px;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgba(216, 255, 254, 0.5);
}
.next:hover {
  cursor: pointer;
  background-color: rgba(216, 255, 254, 0.95);
}


#color-pick {
  width: 40%;
  max-width: 200px;
  min-width: 140px;
  height: 100%;
  aspect-ratio: 1;
}


#shapes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
  row-gap: 14px;
}
.shape {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 120px;
  aspect-ratio: 1;
  border: 1.5px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(233, 233, 233, 0.2);
}
.selected {
  border-color: black;
  background-color: rgba(255, 255, 255, 0.8);
}
.shape:hover {
  border-style: inset;
  cursor: pointer;
  background-color: rgba(254, 254, 254, 0.6);
}
.square div {
  width: 50%;
  aspect-ratio: 1;
  background-color: var(--main-color);
}
.circle div {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--main-color);
}
.oval div {
  border-radius: 100%;
  width: 70%;
  height: 40%;
  background-color: var(--main-color);
}
.rect div {
  width: 70%;
  aspect-ratio: 3/2;
  background-color: var(--main-color);
}
.triangle div {
  height: 0;
  width: 0;
  border-left: 5.5vh solid transparent;
  border-right: 5.5vh solid transparent;
  border-bottom: 11vh solid var(--main-color);
}
.star div {
  width: 0px;
  height: 0px;
  border-right: 5vw solid transparent;
  border-bottom: 3.5vw solid var(--main-color);
  border-left: 5vw solid transparent;
  transform: rotate(35deg);
}
.star div:before {
  border-bottom: 4vw solid var(--main-color);
  border-left: 1.5vw solid transparent;
  border-right: 1.5vw solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -2.25vw;
  left: -3.25vw;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
.star div:after {
  position: absolute;
  display: block;
  top: .15vw;
  left: -5.25vw;
  width: 0px;
  height: 0px;
  border-right: 5vw solid transparent;
  border-bottom: 3.5vw solid var(--main-color);
  border-left: 5vw solid transparent;
  transform: rotate(-70deg);
  content: '';
}
  



#reflection textarea {
  width: 36dvw;
  padding: 10px;
  font-size: 1.2rem;
  height: 40dvh;
  resize: none;
}

#state {
  border: none;
  border-bottom: 2px solid rgb(72, 72, 72);
  font-family: 'Space Grotesk';
  padding: 8px;
  font-size: 1.3rem;
}

#state-preview {
  position: relative;
  margin-top: 10px;
}
#state-preview svg {
  height: 40dvh;
  max-width: 30dvw;
}
#state-error {
  margin-top: 10px;
  font-style: italic;
  color: rgb(86, 86, 86);
}

#objects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.object {
  flex-basis: 30%;
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.2);
}
.object img {
  max-width: 100%;
  object-fit: contain;
}
.object img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5rem rgba(255, 212, 23, 0.4));
}
.selected-obj {
  filter: drop-shadow(0 0 0.6rem rgba(62, 91, 255, 0.4));
}

#visits {
  width: 10dvw;
  border: none;
  border-bottom: 2px solid rgb(72, 72, 72);
  font-family: 'Space Grotesk';
  padding: 8px;
  font-size: 1.5rem;
}
#visits-error {
  margin-top: 10px;
  font-style: italic;
  color: rgb(86, 86, 86);
}
@keyframes glow {
  from {
    filter: drop-shadow(0 0 10px rgb(255, 50, 102));
  }
  to {
    filter: drop-shadow(0 0 30px rgb(102, 135, 255));
  }
}
#visits-preview {
  margin-top: 20px;
  height: 30dvh;
}
#visits-preview img {
  height: 30dvh;
  object-fit: contain;
  animation: glow 4s alternate infinite ease-in-out;
}

.completion-button {
  font-size: 1.4rem;
  padding: 14px 24px;
  margin: 0 auto;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(241, 255, 255, 0.5);
}
.completion-button:hover {
  cursor: pointer;
  background-color: rgba(246, 255, 255, 0.95);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#complete-confirm {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.yes-complete {
  background-color: black;
  color: white;
}

@keyframes fade-out {
  0% { opacity: 1; }
  50% { opacity: 0.75; }
  100% { opacity: 0;}
}
#canvas-feedback {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 25%;
  width: 50%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 14px 20px;
}
.fade-out-animation {
  animation: fade-out 4s ease-in-out;
}


#eyes-inventory, #mouth-inventory {
  text-align: left;
}
.inv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
.inv > div {
  flex-basis: 20%;
  max-width: 60px;
  height: 10dvh;
}
.inv > div:hover {
  cursor: pointer;
  background-color: white;
}
.inv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}






/* PLACE.HTML */

#map-place {
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 95%;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
}
.bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.character {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#character-img {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 24dvw;
  height: 28dvh;
  object-fit: contain;
}

#place-canvas {
  height: 78dvh;
}

#place-nav {
  position: relative;
  height: 18dvh;
  width: 88%;
  margin: 2dvh 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#place-thumbnails {
  height: 100%;
  width: 100%;
  padding: 0 14px;
  overflow: auto hidden;
  align-items: center;
  display: flex;
  gap: 4%;
}
#place-thumbnails div {
  position: relative;
  border: 2px dotted gray;
  height: 90%;
}
#place-thumbnails div:hover {
  border-style: solid;
  box-shadow: 0 0 10px rgb(215, 57, 70);
  cursor: pointer;
}
#place-thumbnails img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
#place-button {
  width: 10%;
  text-align: center;
  padding: 10px 14px;
  border: 1px solid;
}
#place-button:hover {
  background-color: rgb(255, 238, 238);
  cursor: pointer;
}

.project-label {
  position: fixed;
  right: 2%;
  top: 2%;
  text-align: center;
}

#intro-instruct {
  font-weight: 500;
  text-align: center;
  margin: 24px 20%;
  font-size: 1.6rem;
}

#enter-cam {
  position: fixed;
  top: 40%;
  right: 25%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 32px;
  border: 1px solid black;
  font-weight: bold;
  font-size: 2.2rem;
}
#enter-cam:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.99);
}

.active-room {
  border: 3px solid rgb(224, 53, 53) !important;
}

#add-comment {
  position: relative;
}
#comment-input {
  z-index: 3;
  position: fixed;
  padding: 20px 24px;
  background-color: rgb(45, 44, 44);
  color: white;
  border: 1px solid white;
}
#comment-input::before {
  position: absolute;
  content: '';
  width: 0; 
  height: 0; 
  left: 0;
  top: 99%;
  border-top: 0 solid rgb(45, 44, 44);
  border-bottom: 24px solid transparent;
  border-left: 24px solid rgb(45, 44, 44);
}
#comment-input input {
  all: unset;
  border-bottom: 1px solid white;
}

#comment-instruct {
  font-weight: 500;
  text-align: center;
  margin: 24px 20%;
  font-size: 1.6rem;
}
#comment-back {
  position: absolute;
  top: -10px;
  left: 20px;
  font-weight: bold;
}
#comment-back:hover {
  cursor: pointer;
}

#comment-submit {
  padding: 14px 20px;
  border: 1px solid black;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  font-size: 1.4rem;
  margin: 0 auto;
}
#comment-submit:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
}